{% extends "todo/base.html" %}

{% block content %} 
    <div class="container">
        <h1>Завершенные задачи</h1>
        {% if todos %}
            <ul>
                {% for todo in todos %}
                    <li>
                        <a href="{% url 'viewtodo' todo.id %}">
                            {% if todo.important %}<b>{% endif %}
                                {{ todo.title }}
                            {% if todo.important %}</b>{% endif %}
                        </a>
                        {% if todo.description %} - {{ todo.description }}{% endif %}
                        <small>(Завершено: {{ todo.datecompleted|date:"d-m-Y H:i" }})</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У вас пока нет завершенных задач.</p>
        {% endif %}
        
        <a href="{% url 'currenttodos' %}" class="button">Вернуться к текущим задачам</a>
    </div>
{% endblock %}